.Container {
  width: 100%;
  animation-name: anim;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
.Title,
.Content {
  padding: 0 3.4rem;
}
.Title h1 {
  color: rgb(240, 166, 126);
  margin-bottom: 0.1rem;
}

//animation
@keyframes anim {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  25% {
    opacity: 0.25;
    transform: translateX(-30px);
  }
  75% {
    opacity: 0.5;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
