.Container {
  flex-grow: 3;
  background-color: white;
  height: 100%;
  font-family: "Ramabhadra", sans-serif;
}
.Header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: #4b515d;
}
.Header img {
  height: 145px !important;
}
