$txt-color: #4b515d;

.Menu {
  width: 15vw;
  height: 30vh;
  border-radius: 6px;
  background-color: white;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.178);
  position: absolute;
  top: 4.5rem;
  right: -1rem;
  z-index: 1;
  color: $txt-color;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
.Menu h3 {
  opacity: 0.7;
}
.Menu img {
  height: 15px !important;
}
.Menu li {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.7rem;
  cursor: pointer;
  transition: opacity 0.1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.Menu li:hover {
  opacity: 0.8;
}
.Menu li strong {
  margin-left: 0.4rem;
}
