.AccordionItem {
  list-style: none;
}
.AccordionToggle {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ccc;
  padding: 1rem;
  width: 485px;
  border-radius: 35px;
  background: linear-gradient(180deg, #f7f7fa 0%, #f7f7fa 99.56%);
  margin-bottom: 1rem;
}
.AccordionToggle:hover {
  background-color: #ddd;
}
.AccordionToggle h3 {
  margin: 0;
}
.AccordionContent {
  background-color: #eee;
  padding: 1rem;
  width: 485px;
}
