.Container {
  height: 40vh;
  width: 40vh;
  display: flex;
  flex-flow: column;
  background-color: red;
}
.Container h1 {
  margin: 0;
}
.PriceContainer img {
  height: 20px !important;
}
.PriceContainer {
  justify-content: space-between;
}
.PriceContainer,
.LockPrice,
.CoverageAndTerm {
  display: flex;
  align-items: center;
}
