.Container {
  height: 45vh;
  width: 45vh;
  padding: 3rem;
  display: flex;
  flex-flow: column;
  background-color: red;
  border-radius: 10px;
}
.Container h1,
.Container h3,
.Container h5,
.Container p {
  margin: 0;
}
.PriceContainer img {
  height: 18px !important;
}
.PriceContainer,
.CoverageAndTerm {
  justify-content: space-between;
}
.PriceContainer,
.LockPrice,
.CoverageAndTerm {
  display: flex;
  align-items: center;
}
.CoverageAndTerm h1 {
  font-size: 1em;
}
