.Container {
  width: 100%;
  display: flex;
  flex-flow: column;
}
.Title {
  padding: 0 3.4rem;
}
.Title h1 {
  color: rgb(240, 166, 126);
  margin-bottom: 0.1rem;
}
.ListOfAccordions {
  max-width: 768px;
  color: #4b515d;
}

//animation
@keyframes anim {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  25% {
    opacity: 0.25;
    transform: translateX(-30px);
  }
  75% {
    opacity: 0.5;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
