.TabButton {
  width: 100px;
  height: 100px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  color: #cad3da;
}
.TabButton img {
  height: 25px !important;
}
.TabButton h3 {
  margin: 0;
  font-family: "Mukta Malar", sans-serif;
  font-size: 15px;
}
