$bg-color: rgb(247, 247, 250);
$txt-color: #4b515d;

.Container {
  flex-grow: 2;
  height: inherit;
  background-color: $bg-color;
  font-family: "Ramabhadra", sans-serif;
  color: $txt-color;
}
.Quotes {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.Title h1 {
  font-size: 2em;
}
