$notification-sign-color: #f2440d;

.Container {
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.Container * {
  margin-right: 1rem;
}
.Container > img:first-child {
  height: 12px !important;
}
.UserLogo {
  height: 35px !important;
  border-radius: 5px !important;
  margin-right: 0 !important;
  cursor: pointer !important;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}
.Container img:hover {
  opacity: 0.8;
}
.Notification {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
  margin: 0 1.4rem;
}
.Notification img {
  height: 14.48px !important;
}
.NotificationSign {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: $notification-sign-color;
  margin-left: 1rem;
  margin-right: 0;
}
