$bg-color: rgb(247, 247, 250);

.Container {
  flex-grow: 0.6;
  height: inherit;
  background-color: $bg-color;
  justify-content: space-around;
  width: 30vh;
}
.Container,
.TabsButtonsContainer {
  display: flex;
  flex-flow: column;
}
.TabsButtonsContainer {
  align-items: center;
}
.TopLogoContainer,
.BottomLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.TopLogoContainer img {
  height: 39px !important;
}
.BottomLogoContainer img {
  height: 27px !important;
}
