.Container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  background-color: rgb(247, 247, 250);
  box-shadow: inset 1px 2px 30px rgb(205, 205, 207);
}
.Container div {
  margin-right: 2rem;
}
