.Container {
  justify-content: flex-start;
  padding: 0 1rem;
  background-color: rgb(247, 247, 250);
  box-shadow: inset 1px 2px 20px rgba(205, 205, 207, 0.431);
}
.Container,
.CallNow {
  display: flex;
  align-items: center;
}
.Container div {
  margin-right: 2rem;
}
.CallNow h5 {
  margin-right: 0.5rem;
}
